<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="stylesheet" href="../air-datepicker/dist/css/datepicker.min.css">
    <script src="../jquery-3.1.1.min.js"></script>
    <script src="../air-datepicker/dist/js/datepicker.min.js"></script>
    <script src="../air-datepicker/dist/js/i18n/datepicker.ko.js"></script>
    <script src="../js/main.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .choice_calendar div {
            float: left;
        }
    </style>
    <title>account</title>
</head>
<body>
    <div class="main_back">
        <div class="top_back">
            <div class="account_project">
                <h1 class="user_title">
                    wony의 개인 장부
                </h1>
            </div>
            <div class="choice_calendar">
                <form class="choice_date_form">
                    <h5>날짜를 선택해주세요</h5>
                    <input class="datepic" id="datepicker1" type="text"> ~
                    <input class="datepic" id="datepicker2" type="text">
                    <input type="button" value="검색" class="write_btn" id="account_search_btn" onclick="history_data()">
                </form>
            </div>
            <div class="account_part_block">
                <div class="account_price">
                    <h4>남은 금액 </h4>
                    <span id="detail_price">1,000</span>
                </div>
                <a id="write_btn_detail" href="#" onclick='content()'>
                    <div class="write_btn" id="write_btn_first">
                        작성하기
                    </div>
                </a>
                <a id="write_btn_detail2" href="#" onclick='close_content()'>
                    <div class="write_btn" id="write_btn_close">
                        닫기
                    </div>
                </a>
            </div>
        </div>
        <div class="write_content" id="write_account">
            <div class="write_content2">
                <form id="register_form" >
                    <div class="account_write">
                        <p class="account_title_name">
                            제목 : 
                        </p>
                        <input type="text" class="account_input" id="account_title" >
                    </div>    
                    <div class="choice_single_calendar">
                        <p class="account_title_name">
                            날짜 : 
                        </p>
                        <input id="datepicker" class="datepic" type="text" >
                    </div>
                    <div class="content_box">
                        <p class="account_title_name">
                            내용 :
                        </p>
                        <textarea class="account_content" id="account_content"></textarea>
                    </div>
                    <div class="content_price">
                        <p class="account_title_name" id="price_name">
                            금액 :
                        </p>
                        <a class="btn_price" id="btn_price_plus" onclick="minus_btn()" >
                            수입
                        </a>
                        <a class="btn_price" id="btn_price_minus" onclick="plus_btn()">
                            지출
                        </a>    
                        <input type="number"  class="account_input" id="my_price"> 
                    </div>
                    <div class="btn_area"
                    >
                        <input type="button" value="등록" class="write_btn" id="account_write_btn"
                        onclick="register_data()">
                    </div>
                </form>
            </div>
        </div>
        <hr style="margin-top: 20px;"/>
        <div class="account_list_back">
            <div class="account_list_cnt">
                <div class="account_list_title">
                    <h2 class="account_list_title_detail">
                        우리 팸 저녁모임
                    </h2>
                </div>
                <div class="account_list_date" >
                    <p class="list_date_detail">2022-01-07</p>
                </div>
                <div class="account_list_content">
                    <P class="list_content_detail">
                        등심 1인분, 삼겹살 2인분, 냉면 4그릇  
                    </P>
                </div>
                <div class="account_list_price">
                    <p> - 56000원</p>
                </div>
                <div class="account_edit_remove">
                    <a class="btn_edit_remove" id="btn_account_edit">
                        수정
                    </a>
                    <a class="btn_edit_remove" id="btn_account_remove">
                        삭제
                    </a>    
                </div>
            </div>
        </div>
    </div>
</body>
<script>
            //한개만 단순하게 만들때
        $("#datepicker").datepicker({
            language: 'ko'
        });

        //두개짜리 제어 연결된거 만들어주는 함수
        datePickerSet($("#datepicker1"), $("#datepicker2"), true); //다중은 시작하는 달력 먼저, 끝달력 2번째

        /*
            * 달력 생성기
            * @param sDate 파라미터만 넣으면 1개짜리 달력 생성
            * @example   datePickerSet($("#datepicker"));
            * 
            * 
            * @param sDate, 
            * @param eDate 2개 넣으면 연결달력 생성되어 서로의 날짜를 넘어가지 않음
            * @example   datePickerSet($("#datepicker1"), $("#datepicker2"));
            */
        function datePickerSet(sDate, eDate, flag) {

            //시작 ~ 종료 2개 짜리 달력 datepicker	
            if (!isValidStr(sDate) && !isValidStr(eDate) && sDate.length > 0 && eDate.length > 0) {
                var sDay = sDate.val();
                var eDay = eDate.val();

                if (flag && !isValidStr(sDay) && !isValidStr(eDay)) { //처음 입력 날짜 설정, update...			
                    var sdp = sDate.datepicker().data("datepicker");
                    sdp.selectDate(new Date(sDay.replace(/-/g, "/")));  //익스에서는 그냥 new Date하면 -을 인식못함 replace필요

                    var edp = eDate.datepicker().data("datepicker");
                    edp.selectDate(new Date(eDay.replace(/-/g, "/")));  //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
                }

                //시작일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
                if (!isValidStr(eDay)) {
                    sDate.datepicker({
                        maxDate: new Date(eDay.replace(/-/g, "/"))
                    });
                }
                sDate.datepicker({
                    language: 'ko',
                    autoClose: true,
                    onSelect: function () {
                        datePickerSet(sDate, eDate);
                    }
                });

                //종료일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
                if (!isValidStr(sDay)) {
                    eDate.datepicker({
                        minDate: new Date(sDay.replace(/-/g, "/"))
                    });
                }
                eDate.datepicker({
                    language: 'ko',
                    autoClose: true,
                    onSelect: function () {
                        datePickerSet(sDate, eDate);
                    }
                });
                 //한개짜리 달력 datepicker
                } else if (!isValidStr(sDate)) {
                var sDay = sDate.val();
                if (flag && !isValidStr(sDay)) { //처음 입력 날짜 설정, update...			
                    var sdp = sDate.datepicker().data("datepicker");
                    sdp.selectDate(new Date(sDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
                }

                sDate.datepicker({
                    language: 'ko',
                    autoClose: true
                });
            }


            function isValidStr(str) {
                if (str == null || str == undefined || str == "")
                    return true;
                else
                    return false;
            }
        }
    </script>
</html>